/** @format */

.Container {
  margin-left: 15%;
  width: 70%;
}
.Heading {
  color: #2b303f;
  font-size: 30px;
  font-family: "Open Sans", serif;
}
.Heading2 {
  color: #2b303f;
  font-size: 22px;
  font-family: "Open Sans", serif;
}
.content {
  margin-top: 3%;
  font-family: "Open Sans", serif;
  color: #2b303f;
  font-size: 18px;
  line-height: 200%;
}
.content2 {
  font-weight: bolder;
  margin-top: 3%;
  font-family: "Open Sans", serif;
  color: #2b303f;
  font-size: 18px;
  line-height: 200%;
}

@media only screen and (max-width: 600px) {
  .Container {
    margin-left: 6%;
    padding-right: 10%;
    margin-top: 5%;
    width: 100%;
  }
  .Heading {
    font-size: 35px;
    text-align: center;
  }
  .Heading2 {
    font-size: 25px;
    text-align: center;
  }
  .content {
    font-size: 20px;
  }
}
