/** @format */

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 5%;
  align-items: center;
}
.imageContainer {
  position: relative;
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/collab.png");
  background-size: "cover";
  background-position: "center";
  padding: 2% 2%;
}
.headerContainer {
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: "2% 2%";
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
.dscLogo img {
  margin-left: 15%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/dsc_logo.ico"); */
  background-size: "cover";
  background-position: "center";
}
.homeText {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.homeText a {
  text-decoration: none;
  color: white;
}
.homeText a:hover {
  color: #653ab9;
  cursor: pointer;
}
.judgeContainer {
  position: relative;
  display: flex;
  flex: 1;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
}
.judgeText {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}
.randomText {
  color: white;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.3rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .judgeText {
    margin-top: 3%;
    font-size: 2rem;
  }
  .headerContainer {
    height: 15%;
    overflow-y: hidden;
  }
  .dscLogo img {
    height: 60px;
    width: 60px;
  }
  .randomText {
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  .imageContainer {
    overflow-y: hidden;
  }
  .flexContainer {
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
  }
  .judgeContainer {
    height: 80%;
  }
  .imageContainer {
    height: 60vh;
    width: 100%;
  }
  .judgeText {
    font-size: 2.2rem;
  }
  .randomText {
    font-size: 1rem;
    margin-top: 8%;
  }
}
