/** @format */

.Container {
  margin-top: 10%;
  margin-bottom: 5%;
}
.heading1 {
  color: #653ab9;
  font-size: 48px;
  text-align: center;
  font-family: "Open Sans", serif;
}
.heading2 {
  font-family: "Open Sans", serif;
  text-align: center;
  color: #2b303f;
  font-size: 36px;
  margin-top: 2%;
}
.img {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.img img {
  width: 150px;
  width: 150px;
}
@media (max-width: 1200px) {
  .heading1 {
    font-size: 40px;
  }
  .heading2 {
    font-size: 25px;
  }
  .img img {
    width: 100px;
    width: 100px;
  }
}
